/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*I C O N*******
/ M O T O ******
****************
****************
***************/

@font-face {
	font-family: 'Conv_AgencyFB-BoldWide';
	src: url('fonts/AgencyFB-BoldWide.eot');
	src: url('fonts/AgencyFB-BoldWide.woff') format('woff'), url('fonts/AgencyFB-BoldWide.ttf') format('truetype'), url('fonts/AgencyFB-BoldWide.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'AgencyFBRegular';
    src: url('fonts/AgencyFB-Regular.eot');
    src: url('fonts/AgencyFB-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/AgencyFB-Regular.woff') format('woff'), url('fonts/AgencyFB-Regular.ttf') format('truetype'), url('fonts/AgencyFB-Regular.svg#AgencyFBRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MarvelBold';
    src: url('fonts/Marvel-Bold.eot');
    src: url('fonts/Marvel-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Marvel-Bold.woff') format('woff'), url('fonts/Marvel-Bold.ttf') format('truetype'), url('fonts/Marvel-Bold.svg#MarvelBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'MarvelBoldItalic';
    src: url('fonts/Marvel-BoldItalic.eot');
    src: url('fonts/Marvel-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Marvel-BoldItalic.woff') format('woff'), url('fonts/Marvel-BoldItalic.ttf') format('truetype'), url('fonts/Marvel-BoldItalic.svg#MarvelBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MarvelItalic';
    src: url('fonts/Marvel-Italic.eot');
    src: url('fonts/Marvel-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/Marvel-Italic.woff') format('woff'), url('fonts/Marvel-Italic.ttf') format('truetype'), url('fonts/Marvel-Italic.svg#MarvelBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MarvelRegular';
    src: url('fonts/Marvel-Regular.eot');
    src: url('fonts/Marvel-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Marvel-Regular.woff') format('woff'), url('fonts/Marvel-Regular.ttf') format('truetype'), url('fonts/Marvel-Regular.svg#MarvelBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body,html{
	background:url(../img/top_bg.png) repeat-x;
}

.page{
	
}

.container{
	width:100%;
	max-width:950px;
	margin:auto;
}

.contained{
	width:100%;
	margin:auto;
}

header{
}

	header a#logo{
		width:25%;
		max-width:150px;
		height:114px;
		/* background:url(../img/icon_logo.png) no-repeat center 60px #ff0000; */
		background-color:#ff0000;
		display:inline-block;
		float:left;
		text-align:center;
	}
	
		header a#logo img{
			width:90%;
			margin-top:55px;
		}
	
	header section#interact{
		width:800px;
		float:right;
	}

	header #followUs{
	    float:right;
	    padding:5px 15px 0 10px;
	    float:right;
	    background:#fff;
	    display:inline-block;
	    height:28px;
	}
	
		header #followUs a{
			display: block;
			float: left;
			margin-right: 12px;
			background: transparent url('../img/followUs.png') no-repeat;
			height: 21px;
		}
		
		header #followUs .google {
		    background-position: -180px -3px;
		    width:22px;
		}
		
		header #followUs .icon1000 {
		    background-position: -343px -3px;
		    width:14px;
		}
		
		header #followUs .facebook {
		    background-position: -210px -3px;
		    width:11px;
		}
		
		header #followUs .twitter {
		    background-position: -233px -3px;
		    width:25px;
		}
		
		header #followUs .youTube {
		    background-position: -268px -3px;
		    width:22px;
		}
		
		header #followUs .pinterest {
		    background-position: -305px -3px;
		    width:21px;
		}
		
		header #followUs .google:hover {
		    background-position: -180px -30px;
		}
		
		header #followUs .facebook:hover {
		    background-position: -210px -30px;
		}
		
		header #followUs .twitter:hover {
		    background-position: -233px -30px;
		}
		
		header #followUs .youTube:hover {
		    background-position: -268px -30px;
		}
		
		header #followUs .pinterest:hover {
		    background-position: -305px -30px;
		}
		
		header #followUs .icon1000:hover {
		    background-position: -343px -30px;
		}

#search {
	float:right;
    background-color: #FFFFFF;
    height:33px;
}

.search-style {
    padding: 0px;
    position: relative;
    padding-left: 30px;
    background-color: #FFF;
    height: 28px;
}

.searchForm{

}

	.searchForm .searchSubmit{
		background: url(../img/search_icon.gif) no-repeat center center;
		width: 28px;
		line-height: 28px;
		height: 28px;
		left: 0px;
		top: 0px;
		padding-left: 0;
		padding-right: 0;
		vertical-align: middle;
		border: none !important;
		border-right: 1px solid #606061 !important;
		background-color: #FFFFFF;
	}
	
	.searchForm .s {
	    width: 193px;
	    background-color: #FFF;
	    border: none !important;
	    margin: 5px 2px 2px 5px;
	    box-shadow: 0px 0px 0px #CCCCCC inset !important;
	    font-family: Helvetica, Arial;
	    font-size: 11px;
	    height: 18px;
	    line-height: 18px;
	}
	
	#search .searchForm{
	    float:left;
	}
	
	header nav{
		width:100%;
		padding-top:10px;
	}
	
		header nav ul{
			width:100%;
			list-style:none;
			margin:0px;
			padding:0 0 0 2%;
		}
		
			header nav ul li{
				width:32%;
				float:left;
				color: #FFFFFF;
				white-space: nowrap;
				margin: 0;
				padding: 0;
			}
			
				header nav ul li.sep{
					width:1%;
					margin: 0;
					text-align:center;
				}
				
					header nav ul li.sep span{
						display:inline-block;
						width:1px;
						height:76px;
						background:#000;
					}
			
				header nav ul li.optionMenu{
					display:none;
				}
			
				header nav ul li h1{
					font-family: 'Orbitron', sans-serif;
					font-size: 18px;
					font-weight: normal;
					padding:0px;
					background-color: #000000;
					text-indent:5px;
					text-transform:uppercase;
					margin:25px auto 0 auto;
					width:96%;
				}
			
				header nav ul li ul{
				
				}
				
					header nav ul li ul li{
						margin:0px;
						width:auto;
						display:inline-block;
						border-left:2px solid #000;
						padding:0 8px;
					}
					
						header nav ul li ul li:first-child{
							border-left:0px;
							padding-left:0px;
						}
					
						header nav ul li ul li a{
							font-family: 'Homenaje', sans-serif;
							text-decoration:none;
							color:#000;
							font-size:16px;
						}
						
#mobSearch{
	display:none;
}

.slashSep{
	height:25px;
	background:url(../img/top_bg.png);
	margin:16px 0;
}

footer{
	width:100%;
	background:#000;
	color:#CCCCCC;
}

	footer section{
		width:22%;
		float:left;
		margin-left:4%;
	}
	
		footer section:first-child{
			margin-left:0;
		}

	footer div.container{
		padding-top:10px;
	}

	footer h2{
		background:#fff;
		color:#000;
		font-size:14px;
		text-transform:uppercase;
		padding:2px 5px;
	}
	
	footer p{
		font-size:11px;
	}
	
	footer a{
		color:#fff;
		text-decoration:none;
		font-family: 'Homenaje', sans-serif;
	}
	
		footer a:hover{
			color:#ff0000;
		}	
		
	footer section#links{
	
	}
	
		footer section#links ul{
			padding:0;
			margin:0;
			list-style:none;
		}
		
			footer section#links ul li{
				display:block;
			}
			
	
	
			footer section form .text-btn {
			    position: relative;
			    padding-right: 26px;
			    background-color: #FFFFFF;
			    height: 20px;
			    overflow: hidden;
			}
			
			
			footer section .text-btn input[type=submit], .footerSection .text-btn .submitBtn {
			    position: absolute;
			    right: 0px;
			    top: 0px;
			    width: 22px;
			    padding: 0;
			    line-height: 21px;
			    height: 20px;
			    border: 0px none transparent !important;
			    background-color: #CCCCCC;
			    vertical-align: middle;
			    text-align: center;
			    font-weight: bold;
			    font-family: helvetica;
			    font-size: 10px;
			    color: #4d4c49;
			
			}
			
			footer section .text-btn input[type=text], .footerSection .text-btn .txtFld {
			    width: 100%;
			    background-color: #FFF;
			    padding-left: 10px;
			    border: 0px none transparent !important;
			    font-family: helvetica;
			    font-size: 10px;
			    color: #4d4c49;
			}
			
			footer section label {
			    display: block;
			    float: left;
			    white-space: nowrap;
			    width: 70px;
			    font-size: 14px;
			    font-family: 'AgencyFB Regular', AgencyFBRegular, Helvetica, Arial, sans-serif;
			}
			
			footer section label input {
			    vertical-align: text-bottom;
			}
			
			footer section form {
			    margin-top: 10px;
			}
			
			footer section#social div.followUs{
				text-align:center;
			}
			
			
			
			footer section#social div.followUs a{
				display: inline-block;
				margin-right: 12px;
				background: transparent url('../img/followUs.png') no-repeat;
				height: 21px;
			}
			
			footer section#social div.followUs .google {
			    background-position: 0 -3px;
			    width:22px;
			}
			
			footer section#social div.followUs .icon1000 {
			    background-position: -164px -3px;
			    width:14px;
			}
			
			footer section#social div.followUs .facebook {
			    background-position: -30px -3px;
			    width:11px;
			}
			
			footer section#social div.followUs .twitter {
			    background-position: -56px -3px;
			    width:25px;
			}
			
			footer section#social div.followUs .youTube {
			    background-position: -87px -3px;
			    width:22px;
			}
			
			footer section#social div.followUs .pinterest {
			    background-position: -125px -3px;
			    width:21px;
			}
			
			footer section#social div.followUs .google:hover {
			    background-position: 0 -29px;
			}
			
			footer section#social div.followUs .icon1000:hover {
			    background-position: -164px -30px;
			}
			
			footer section#social div.followUs .facebook:hover {
			    background-position: -30px -29px;
			}
			
			footer section#social div.followUs .twitter:hover {
			    background-position: -56px -29px;
			}
			
			footer section#social div.followUs .youTube:hover {
			    background-position: -87px -29px;
			}
			
			footer section#social div.followUs .pinterest:hover {
			    background-position: -125px -29px;
			}
			
			
			footer section#twitter #twitterFeed {
			    height: 240px;
			    width: auto !important; /*212px;*/
			    color: #DDDDDD;
			    font-size: 11px;
			    padding-right: 3px;
			    word-wrap: break-word;
			}
			
			footer section#twitter #twitterFeed .jspPane {
			    width: auto !important;
			    padding-right: 22px !important;
			}
			
			footer section#twitter #twitterFeed .jspContainer {
			    width: auto !important;
			}
			
			footer section#twitter #twitterFeed .twt_dt {
			    padding-top: 3px;
			    font-size: 10px;
			    font-family: Helvetica;
			}
			
			footer section#twitter #twitterFeed .twt_url{
			    font-size: 11px;
			    font-family: Helvetica;
			}
			
			
			footer section#twitter #twitterFeed .post {
			    margin-top: 6px;
			    padding-top: 6px;
			    border-top: 1.5px solid #cccccc;
			}
					
/* ---- HOME ---- */
#home{

}


.calloutHalf{
	width:49%;
	float:left;
}

	.calloutHalfSpacer{
		margin-right:2%;
	}

	.calloutHalf img{
		width:100%;
	}
	

img.limiterHead{

}
	

span.limiterSubHead{
	text-transform:uppercase;
	vertical-align:bottom;
}

#limiterPosts{
	padding:0;
	margin:20px 0 0 0;
	list-style:none;
}

	#limiterPosts li{
		background-size:cover;
		float:left;
		width:32%;
		max-width:310px;
		height:375px;
		margin-left:2%;
		cursor:pointer;
	}
	
		#limiterPosts li:hover div.content{
			display:block;
		}
	
		#limiterPosts li:first-child{
			margin-left:0;
		}
	
		#limiterPosts li div.content{
			width:100%;
			height:375px;
			background:url(../img/limiter_overlay_red.png);
			display:none;
		}
		
			#limiterPosts li div.content span.pubDate{
				width:62px;
				height:31px;
				background:url(../img/limiter_overlay_black.png);
				float:right;
				color:#fff;
				padding:5px;
			}
			
				#limiterPosts li div.content span.pubDate span.date{
					float:left;
					font-size:30px;
					line-height: 31px;
				}
				
				#limiterPosts li div.content span.pubDate span.monthYear{
					float:right;
					font-size:12px;
					text-align:right;
					line-height: 12px;
					padding-top: 4px;
				}
			
			#limiterPosts li div.content h1{
				font-size:17px;
				color:#fff;
				font-weight:normal;
				padding:200px 10px 0 10px;
				margin:0 !important;
			}
			
			#limiterPosts li div.content p{
				color:#fff;
				font-size:11px;
				padding:0 10px;
			}
			
			#limiterPosts li div.content blockquote{
				margin:0;
			}
			
a.viewLimiterPosts{
	background:#ff0000;
	padding:8px 10px;
	float:right;
	margin-top:10px;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	font-family: 'Orbitron', sans-serif;
}

	a.viewLimiterPosts:hover{
		background:#ccc;
		color:#333;
	}


/* ---- 404 ---- */
#error{
	text-align:center;	
}


.clear{
	clear:both;
}

a img{
	border:none;
}


@media screen and (max-width: 950px) {
	.contained{
		width:98%;
		margin:auto;
	}

	header section#interact{
		width:83%;
	}
	
	header a#logo{
		width:17%;
	}
	
				header nav ul li ul li{
					border-left:1px solid #000;
					padding:0 4px;
				}
				
					header nav ul li ul li a{
						font-size:14px;
					}
						
						
						
		#limiterPosts li div.content h1{
			padding:100px 10px 0 10px;
		}	
	
			footer section#social div.followUs span{
				display:block;
			}		
}

@media screen and (max-width: 720px) {
	body,html{
		background:none;
	}
	
	header{
	background:url(../img/top_bg.png);
	}
	
	header a#logo{
		height:80px;
	}	
	
		header a#logo img{
			margin-top:41px;
		}
	
	header #interact{
		background:#fff;
	}
	
	header nav{
		background:#fff;
		padding:0;
	}
	
	header nav ul li.sep span{
		background:none;
	}
				
	header nav ul li h1{
		font-size:14px;
		margin:0;
	}
	
	header nav ul li:hover ul{
		display:block;
	}
	
		header nav ul li ul{
/* 			display:none; */
			padding-left:0;
		}
		
			header nav ul li ul li{
				float:none;
				display:block;
			}
			
			header nav ul li ul li:first-child{
				border-left:1px solid #000;
				padding:0 4px;
			}
}


@media screen and (max-width: 640px) {
	
	span.limiterSubHead{
		display:block;
	}
	
	ul#limiterPosts{
		margin:0;
	}
	
	a.viewLimiterPosts{
		width: 100%;
		padding: 8px 0;
		text-align: center;
	}

	section#twitter{
		display:none;
	}
	
	footer section{
		width:49%;
		margin-left:2%;
	}
	
		footer section#social div.followUs span{
				display:inline;
		}
	
	section#links{
		margin:0;
		width:100%;
	}
	
		section#links ul{
			float:left;
			margin-left:1%;
			width:32%;
		}
		
		section#links ul:first-child{
			margin:0;
		}
}

@media screen and (max-width: 540px) {
	header section#interact{
		width:74%;
		background:none;
	}
	
	header a#logo{
		width:26%;
		height:71px;
	}
	
		header a#logo img {
			margin-top: 33px;
		}
		
	#cbp-fwslider{
		padding:6px 0 24px 0;
	}
	
	/*
header nav ul li h1{
		font-size:13px;
	}
*/
	
	#interact span#search{
		display:none;
	}
	
	#mobSearch{
		display:block;
	}
	
	
		#mobSearch input.s{
			width:97%;
			border:1px solid #ccc !important;
			height:35px;
			font-size:18px;
			line-height:35px;
			text-indent:35px;
			margin-top:8px;
		}
		
		#mobSearch input.searchSubmit{
			float:left;
			margin-top:-35px;
			margin-left:8px;
			position:relative;
		}
		
		header nav ul{
			padding:0;
		}
		
		header nav ul li{
			width:100%;
			border:none;
		}
		
		header nav ul li.sep{
			display:none !important;
		}
		
		nav ul li{
			display:none;
		}
			header nav ul li h1{
				line-height:38px;
				width:100%;
			}
		
		nav ul li.optionMenu{
			display:block !important;
		}
		
		nav ul:hover li{
			display:block !important;
			cursor:pointer;
		}
			
			nav ul:hover li.optionMenu{
				display:none !important;
			}
		
			nav ul li ul li:hover{
				background:#ff0000;
			}
			
				nav ul li ul li:hover a{
					color:#fff;
				}
				
				header nav ul li ul li a{
					font-size:17px;
					line-height:26px;
				}
				
				
	.calloutHalf{
		width:100%;
		float:none;
	}
	
		.calloutHalfSpacer{
			margin-right:0;
		}
	
		.calloutHalf img{
			width:100%;
		}
	
	
	#limiterPosts li{
		float:none;
		width:100%;
		max-width:540px;
		margin:0 0 2px 0;
		background-size: contain;
		background-repeat: no-repeat;
	}
	
		#limiterPosts li div.articleImage{
			display:block;
			width:50%;
			float:left;
		}
		
		#limiterPosts li div.content{
			width:50%;
			float:right;
			display:block;
			background:#ff0000;
		}
		
	/*
footer section{
		width:100%;
		margin:5px 0;
	}
	
		footer section#social div.followUs{
			text-align:left;
		}
*/
	
}

@media screen and (max-width: 480px) {
	
	footer>section{
		width:100%;
	}
	
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
